<!DOCTYPE html>
<html>

<head>
	<title>Remothon</title>
	<link href="public/css/main.css" rel="stylesheet">
	<link href="public/css/auth.css" rel="stylesheet">
	<link href="public/css/header.css" rel="stylesheet">
	<link href="public/css/content.css" rel="stylesheet">
	<link href="public/css/footer.css" rel="stylesheet">
	<link href="public/css/stat.css" rel="stylesheet">

</head>

<body>
	<div class="container">
		{{{body}}}
	</div>
</body>

</html>