{{> 'header' }}

<div class="content">
	<post>Remothon <grey>@</grey> 19</post>
	<hat>Remothon is a 24 hour long coding event. The goal is for each student to work as much as possible on their current
		project. Of course you don't have to attend the 24 hours, you might need to take a nap at some point. To make
		things more interesting, a few animations are also planned across the event, and there will be a reward for
		those who'll truly take part in the Remothon!
		Keep an eye on Slack for more information.<br /><br />
		Join 19's Discord server <a href="https://discord.gg/CjvHZyfCnM">here</a>.
	</hat>

	<br />

	<chapter>
		<chapid>{{countdownDescription}}</chapid>
		{{countdown}}
	</chapter>

</div>

{{> 'footer' }}