{{> 'header' }}

<div class="content">
	<post>Planning</post>
	<chapter>
		<chapid>12h19</chapid>opening
	</chapter>
	<p>
		Meet us on the dedicated <grey>#remothon</grey> channel of the school's Discord to officially start the event!
	</p>

	<chapter>
		<chapid>13h00-14h00</chapid>warm-up
	</chapter>
	<p>
		Warm your fingers up with us by playing a few rounds of <grey>Clash Of Code</grey> on <a href="https://www.codingame.com">CodinGame</a>.
		<grey>Clash Of Code</grey> is a 5 minute minigame with simple algorithmic challenges! Don't forget to create an acount beforehand.
	</p>

	<chapter>
		<chapid>21h00-23h00</chapid>cooldown with <grey>19esport</grey>
	</chapter>
	<p>
		Take a break from your hard work and play fun minigames with us! You won't need to buy anything, we'll only play free games. Hosted by <grey>19esport</grey>!
	</p>

	<chapter>
		<chapid>01h00-02h00</chapid>remothirsty
	</chapter>
	<p>
		Because we've earned it, let's chat around a few drinks during a virtual aperitif!
	</p>

	<chapter>
		<chapid>12h19</chapid>finish line
	</chapter>
	<p>
		End of the event, meet us again on <grey>#remothon</grey> to say the final words!
	</p>

</div>

{{> 'footer' }}