{{> 'header' }}

<div class="content">
	<post>Stats</post>
	<hat>These are your stats for this season of the event. Your logtime will automatically be updated when the event starts!</hat>
	<chapter>
		<chapid>login</chapid>{{login}}
	</chapter>
	<chapter>
		<chapid>discord</chapid>{{discord}}
	</chapter>
	<chapter>
		<chapid>logtime</chapid>{{logtime}}
	</chapter>
</div>

{{> 'footer' }}